
@font-face {
  font-family: VarelaRound;
  src: url("./fonts/Poppins-Regular.ttf");
}

:root{
  --main-body-bg: #21212d;
  --border-color: rgb(86, 86, 86);
  --nav-bg: #2c2c38; 
  --board-hover-bg: #353543;
  --buttons-bg: #645fc7;
  --nav-text-color: #bfcbe6;
  --main-body-text-color: #e7e8ee;
  --column-bg: #23252e;
  --alert-text: #9a81e3;
  --nav-width: 0%;
}

body{
  font-family: VarelaRound, sans-serif;
  margin: 0;
  padding: 0;
}
